<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="blogs content">
  <h2><%= title %></h2>

    <% if (!error) { %>

      <% if (reports.length > 0) { %>
        <% reports.forEach(report => { %>
          <a class="single" href="/reports/singleReport/<%= report.id %>">
            <h3 class="title"><%= report.place %></h3>
            <p class="snippet">
              <% if (report.image) { %>
                &#128247; 
              <% } %> 
            By <%= report.user %>, <%= report.createdAt.getDate() %>/<%= report.createdAt.getMonth() + 1 %>/<%= report.createdAt.getFullYear() %></p>
          </a>
        <% }) %>
      <% } else { %>
        <p>There are no reports to display...</p>
      <% } %>
    <% } else { %>
      <p><%= error %></p>
    <% } %>
    
  </div>

  <%- include("../partials/footer.ejs") %>
</body>
</html>