<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="details content">
    <h2><%= report.place %></h2>
    <div class="content">
      <p><%= report.snippet %></p>
    </div>
    <a class="delete" href="./delete/<%= report.id %>">
      <img src="/trashIcon.png" alt="trash icon">
    </a>
  </div>

  <%- include("../partials/footer.ejs") %>
</body>
</html>