<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="details content <%= report.pollution %>">
    <h2><%= report.place %></h2>
    <div class="content">
      <p id="level"><%= report.pollution %> pollution</p>
      <p><%= report.description %></p>
      <% if (report.image) { %>
        <img class="reportImages" src="/reportImages/<%= report.image %>" alt="report">
      <% } %>
    </div>
    <a class="delete" data-doc="<%= report.id %>">
      <img src="/images/trashIcon.png" alt="trash icon">
    </a>
    <p class="snippet">By <a href="/reports/allReports/<%= report.user %>"><%= report.user %></a>, <%= report.createdAt.getDate() %>/<%= report.createdAt.getMonth() + 1 %>/<%= report.createdAt.getFullYear() %></p>
  </div>

  <%- include("../partials/footer.ejs") %>

  <script>
    const trashcan = document.querySelector('a.delete');
    trashcan.addEventListener('click', (e) => {
      const endpoint = `${trashcan.dataset.doc}`;
      fetch(endpoint, {
        method: 'DELETE',
      })
        .then(response => response.json())
        .then(data => window.location.href = data.redirect)
        .catch(err => console.log(err));
    });
    
  </script>
</body>
</html>